<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Layout page">
    <meta name="author" content="jobinat@gmail.com">

	<title>Back-office application</title>

	<link href="../static/css/normalize.css" rel="stylesheet">
	<!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- for data table -->
		<link rel="stylesheet" type="text/css" href="../static/vendor/jqDataTable/css/dataTables.bootstrap4.min.css">

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
		<link href="../static/css/button.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../static/js/html5shiv.js"></script>
        <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div id="app-header"></div>

            <div class="navbar-default sidebar" role="navigation">
                <div id="app-left-menu"></div>
            </div>
        </nav>

        <div id="page-wrapper"></div>
    </div>

        <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js"></script>

		<!-- For data table -->
		<script src="../static/vendor/jqDataTable/js/jquery.dataTables.min.js"></script>
		<script src="../static/vendor/jqDataTable/js/dataTables.bootstrap4.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script type="text/javascript"src="../static/js/app.js"></script>

    <script type="text/javascript">
		$( document ).ready(function() {
			$("#app-header").load("header.html");
			$("#app-left-menu").load("menu.html");
			$("#page-wrapper").load("home.html");
		});

	</script>
</body>
</html>
