<!DOCTYPE html>
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">

        <li>
            <a href="#"><i class="fa fa-edit fa-fw"></i> Region</a>
        </li>
        <li>
            <a href="#" id="country"><i class="fa fa-edit fa-fw"></i> Country</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-edit fa-fw"></i> Codes</a>
        </li>

        <li>
            <a href="#" id="user" class="clp-arrow" data-toggle="collapse" data-target=".user" aria-expanded="false"><i class="fa fa-wrench fa-fw"></i> User<span class="fa arrow "></span></a>
            <ul class="nav nav-second-level collapse user" role="menu" aria-labelledby="user">
                <li>
                    <a href="user">User Management</a>
                </li>
                <li>
                    <a href="#">User Group</a>
                </li>
                <li>
                    <a href="#">permissions</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#" id="events" class="clp-arrow" data-toggle="collapse" data-target=".events" aria-expanded="false"><i class="fa fa-sitemap fa-fw"></i> Events<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse events" role="menu" aria-labelledby="events">
                <li>
                    <a href="event">Add Event</a>
                </li>
                <li>
                    <a href="#">View Events</a>
                </li>
                <li>
                    <a href="#" id="events-permissions" class="clp-arrow" data-toggle="collapse" data-target=".events-permissions" aria-expanded="false">Event permissions <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse events-permissions" role="menu" aria-labelledby="events-permissions">
                        <li>
                            <a href="#">Event permissons</a>
                        </li>
                        <li>
                            <a href="#">Remove user permissions</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-edit fa-fw"></i> Donations</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-edit fa-fw"></i> Subscriptions</a>
        </li>
    </ul>
</div>
