<div class="container-fluid">
  <div class="col-lg-12">
      <h2 class="page-header">Country Details</h1>
  </div>
  <div class="table-box">
    <!-- <div class="row">
      <div class="col-lg-1">Country</div>
      <div class="col-lg-1">Code</div>
      <div class="col-lg-2">Name</div>
      <div class="col-lg-3">Desc</div>
      <div class="col-lg-2">Region</div>
      <div class="col-lg-1">Currency</div>
      <div class="col-lg-1">edit</div>
      <div class="col-lg-1">delete</div>
    </div>
    <div class="row">
      <div class="col-lg-1">USA</div>
      <div class="col-lg-1">US</div>
      <div class="col-lg-2">USA</div>
      <div class="col-lg-3">America</div>
      <div class="col-lg-2">USA</div>
      <div class="col-lg-1">USD</div>
      <div class="col-lg-1">edit</div>
      <div class="col-lg-1">delete</div>
    </div> -->
  </div>
</div>
